// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#books_index {
  .more-book-btn {
    width: 120px;
  }
  @media (min-width: 768px) {
    .more-book-btn {
      margin-left: 110px;
    }
  }  
}

.multi_select {
  height: 90px;
  overflow-y: scroll;
}

.multi_select > .multi_select_inputs {
  display: block;
}

.sort_table > header a.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sort_table > header a.asc {
  background-image: url(/assets/up_arrow.gif);
}

.sort_table > header a.desc {
  background-image: url(/assets/down_arrow.gif);
}