<h1 class="text-center">Autores</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%=t('activerecord.attributes.author.name')%></th>
        <th colspan="3" class="text-center">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td class="text-center"><%= link_to 'Ver', author %></td>
          <td class="text-center"><%= link_to 'Editar', edit_author_path(author) %></td>
          <td class="text-center"><%= link_to 'Borrar', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Agregar Autor', new_author_path %>
