<dl class="dl-horizontal">
	<dt><%=t('activerecord.attributes.author.name') %></dt>
	<dd><%= @author.name %></dd>
</dl>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">      
		<%= link_to 'Editar', edit_author_path(@author), class: 'btn btn-primary' %>
		<%= link_to 'Volver', authors_path, class: 'btn btn-default' %>
	</div>
</div>
