<%= form_for @book, html: { multipart: true } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <%= f.label :Autores %><br>
  <div class="multi_select form-control">
    <% Author.all.each do |author| %>
      <div class="multi_select_inputs">
        <%= check_box_tag "book[author_ids][]", author.id, @book.authors.include?(author), :id => "select_author_#{author.id}" %>
        <label for="<%="select_author_#{author.id}"%>">
          <%= author.name %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :editorial_id %><br>
    <%= f.collection_select :editorial_id, Editorial.all, :id, :name, {}, {:class=>'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :original_title %><br>
    <%= f.text_field :original_title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :translation %><br>
    <%= f.text_field :translation, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :edition %><br>
    <%= f.number_field :edition, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :edition_date %><br>
    <div class='input-group date datetimepicker'>
      <%= f.text_field :edition_date, :class => "form-control", :value => ( @book.edition_date.nil? ? "" : @book.edition_date.strftime("%d/%m/-%Y")) %>
      <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :edition_place %><br>
    <%= f.text_field :edition_place, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :publication_year %><br>
    <%= f.number_field :publication_year, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cover_page %><br>
    <%= f.file_field :cover_page %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
