<h1 class="text-center">Editoriales</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%=t('activerecord.attributes.editorial.name')%></th>
        <th colspan="3" class="text-center">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @editorials.each do |editorial| %>
        <tr>
          <td><%= editorial.name %></td>
          <td class="text-center"><%= link_to 'Ver', editorial %></td>
          <td class="text-center"><%= link_to 'Editar', edit_editorial_path(editorial) %></td>
          <td class="text-center"><%= link_to 'Borrar', editorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Agregar Editorial', new_editorial_path, :class => "btn btn-primary" %>
