<dl class="dl-horizontal">
	<dt><%=t('activerecord.attributes.editorial.name') %></dt>
	<dd><%= @editorial.name %></dd>
</dl>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">      
		<%= link_to 'Editar', edit_editorial_path(@editorial), class: 'btn btn-primary' %>
		<%= link_to 'Volver', editorials_path, class: 'btn btn-default' %>
	</div>
</div>
