<!DOCTYPE html>
<html>
<head>
  <title>La biblio<%= (" :: " + yield(:title)) if content_for?(:title)  %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user.present? %>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapsible-at-xs">
              <span class="sr-only">Abre / cierra la navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'La biblio', root_path, class: 'navbar-brand'%>
            <%= link_to 'Editoriales', editorials_path, class: 'navbar-brand'%>
            <%= link_to 'Autores', authors_path, class: 'navbar-brand'%>
          </div>
          
          <div class="collapse navbar-collapse" id="main-navbar-collapsible-at-xs">            
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%=link_to destroy_user_session_path, :method => :delete do %>
                  salir <i class="fa fa-sign-out"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <% end %>
  
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
